<!--
   <div class="box-thumbnail">
     <section class="tiles">
       <article class="style1">


			 <span class="image">
			     <img src=" {{ img }} " />
			  </span>
           </article>
      </section>
  </div> -->

  <article class="{{ class }}">
		<span class="image">
			<img src="{{ img }}" alt="image" />
		</span>
		<a href="{{ link }}">
			<h2>{{ title }}</h2>
			<div class="content">
				<p>{{ content }}</p>
			</div>
		</a>
	</article>
