<!--
   <div class="box-thumbnail">
     <section class="tiles">
       <article class="style1">


			 <span class="image">
			     <img src=" {{ img }} " />
			  </span>
           </article>
      </section>
  </div> -->

  <article class="{{ boxThumbnail.class }}">
		<span class="image">
			<img src= {% include "@atoms/_img.twig" %} 
		</span>
		<a href="{{ boxThumbnail.link }}">
			<h2>{{ boxThumbnail.title }}</h2>
			<div class="content">
				<p>{{ boxThumbnail.content }}</p>
			</div>
		</a>
	</article>
