

  <article class="{{ class }}">
		<span class="image box-thumbnail__image-wrapper" >
      <img src="{{ img }}" alt="" />
		</span>
		<a href="{{ link }}" class="box-thumbnail__link" >
			<h2 class="box-thumbnail__title">{{ title }}</h2>
			<div class="content">
				<p>{{ content }}</p>
			</div>
		</a>
	</article>
